$main-font-fize: 16px;
$contact-background-size: 50px;
$contact-icon-size: calc($contact-background-size / 1.5);
$contact-icons-margin: calc($contact-icon-size + 35px);
$contact-icon-default-position: calc($contact-icon-size + 30px);
$header-title-color: #011B35;
$header-under-title-color: #011B35;
$header-text-color: #0E0ADB;
$button-background-color: #0E0ADB;
$button-hover-background-color: #011B35;
$button-hover-color: #fff;
$favorite-icon-outline-color: #0E0ADB;
$animation-text-color: #0E0ADBBF;
$content-title-color: #0E0ADB;
$header-button-color: #76A8E3;
$content-text-color: #000;
$main-background-color: #D8EFFB;
$footer-background-color: #011B35;
$content-box-shadow: 4px 4px 16.4px 0px rgba(0, 0, 0, 0.20);
$product-box-shadow: 4px 4px 16.4px 0px rgba(0, 0, 0, 0.20);
$footer-background-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
$footer-text-color: #D8EFFB;
$footer-phone-color: #D8EFFB;
$footer-top-text-color: #fff;
$footer-nav-text: #fff;
$footer-link-color: #FAFEFD;
$aside-text-color: #011B35;
$transition-time: .3s;
$block-shadow: 4px 4px 16.4px 0px rgba(0, 0, 0, 0.20);
$header-about-us-content-text-color: #02101F;
$header-about-us-background-color: #FAFEFD;
$main-about-us-background-color: #FAFEFD;
$main-contacts-page-background-color:#FAFEFD;
$header-useful-page-background-color: #FAFEFD;
$main-useful-page-background-color: #FAFEFD;
$header-contacts-page-background-color: #FAFEFD;
$main-useful-page-text-color: #02101F;
$main-useful-page-title-color: #003B57;
$service-text-color: #0C0202;
$service-border-color: #0E0ADB;
$header-reviews-page-background-color: #FAFEFD;
$body-reviews-page-background-color: #FAFEFD;
$review-border-color: #0E0ADB;
$review-text-color: #02101F;
$person-name-color: #0C0202;
$button-answer-background-color: #FAFEFD;
$button-answer-text-color: #02101F;
$button-answer-border-color: #011B35;
$feedback-text-color: #201F22;
$feedback-button-border-color: #011B35;
$feedback-button-background-color: #FAFEFD;
$aside-button-border-color: #011B35;
$aside-text-color: #02101F;
$primary-contacts-page-text-color:#02101F;
$main-contacts-page-card-background-color:#D8eFFB;
$card-contacts-page-border:#011B35;
$contacts-page-message-us-color: #0C0202;
